.color-blue{
    background-color: #051328;
}


.text-body{
    text-align: center;
    margin-top: 10%;
}
.text-content{
    color: white;
    font-size: 30px;
}

.logo-body{
    width: 90%;
    margin-left: 5%;
    margin-top: 20%;
}
.logo{
    width:100%;
}

.image-body{
    width: 70%;
    margin-left: 15%;
    margin-top: 10%;
}
.magazine{
    width: 100%;
}
