.color-blue{
    background-color: #051328;
}


.text-body{
    text-align: center;
}
.text-content{
    color: white;
    font-size: large;
}

.logo-body{
    width: 90%;
    margin-left: 5%;
}
.logo{
    width:100%;
}